version: 1.0
name: <your-name-here>-apb
description: Uses helm chart to deploy <something>
bindable: False
async: optional
metadata:
  displayName: <your-name-here>
plans:
  - name: default
    description: This default plan deploys <something>
    free: True
    metadata: {}
    parameters: []
